<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ForumGLA</display-name>

	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<!-- <secure>true</secure> Ne charge pas les css pour la première visite-->
		</cookie-config>
	</session-config>
	
	<!-- <filter>
        <filter-name>FilterServlet</filter-name>
        <filter-class>fr.istic.gla.tp.servlet.FilterServlet</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterServlet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
	<servlet>
        <servlet-name>accueil</servlet-name>
        <servlet-class>stage.devops.servlet.AccueilServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>creercompte</servlet-name>
        <servlet-class>stage.devops.servlet.CreerCompteServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>stage.devops.servlet.UploadServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>dessinerPour</servlet-name>
        <servlet-class>stage.devops.servlet.DessinerPourServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>ajoutami</servlet-name>
        <servlet-class>stage.devops.servlet.AjoutAmiServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>repondrea</servlet-name>
        <servlet-class>stage.devops.servlet.RepondreAServlet</servlet-class>
	</servlet>

	<servlet>
        <servlet-name>ladder</servlet-name>
        <servlet-class>stage.devops.servlet.LadderServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>dessinerpourami</servlet-name>
        <servlet-class>stage.devops.servlet.DessinerPourAmiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
        <servlet-name>dessinerpourami</servlet-name>
	    <url-pattern>/dessinerpourami</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>ladder</servlet-name>
	    <url-pattern>/ladder</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>repondrea</servlet-name>
	    <url-pattern>/repondrea</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>ajoutami</servlet-name>
	    <url-pattern>/ajoutami</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>dessinerPour</servlet-name>
	    <url-pattern>/dessinerPour</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>resetDatabase</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.ResetDatabaseServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.AuthServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>deconnexion</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.DeconnexionServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>fil</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.FilServlet</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>createFil</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.CreateFilServlet</servlet-class>
	</servlet>

	<servlet>
        <servlet-name>ecrireMessage</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.EcrireMessageServlet</servlet-class>
	</servlet>
	
	
	<servlet>
        <servlet-name>supprMessage</servlet-name>
        <servlet-class>fr.istic.gla.tp.servlet.EcrireMessageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
        <servlet-name>supprMessage</servlet-name>
	    <url-pattern>/supprMessage</url-pattern>
	</servlet-mapping>
	
	
	

	<servlet-mapping>
        <servlet-name>upload</servlet-name>
	    <url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>ecrireMessage</servlet-name>
	    <url-pattern>/ecrireMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>createFil</servlet-name>
	    <url-pattern>/createFil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>fil</servlet-name>
	    <url-pattern>/fil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>deconnexion</servlet-name>
	    <url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
        <servlet-name>auth</servlet-name>
	    <url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>resetDatabase</servlet-name>
	    <url-pattern>/resetDatabase</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>accueil</servlet-name>
	    <url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>creercompte</servlet-name>
	    <url-pattern>/creercompte</url-pattern>
	</servlet-mapping>
	
	
</web-app>